/* General Body Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #3e1f40, #6610f2);
    color: #333;
    min-height: 100vh;
}

/* Header */
header {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}
header button{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #1f4037;
}

/* Section Container for Forms */
.section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}

.section {
    flex: 1;
    padding: 30px;
    height: 500px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: start;
}

.section h2 {
    font-size: 34px;
    margin-bottom: 20px;
    color: #000000;
}

.section input,

.section button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    
}
.form-group{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.section input {
    background: #fff;
    color: #333;
   
}

.section button {
    background: linear-gradient(135deg, #3e1f40, #6610f2);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.section button:hover {
    background: linear-gradient(135deg, #3e1f40, #6610f2);
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #1f4037;
    color: #fff;
}

td {
    color: #333;
}

/* Success Message */
.success {
    color: green;
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}
